.AdminPage_all_layout {
  display: grid;
  justify-items: center;
  margin-bottom: 100px;
}

.AdminPage_itemLocation_all {
  display: grid;
  align-content: space-around;
  padding: 10px 0;
  width: 90%;
  position: relative;
}

.AdminPage_bigname {
  font-size: 20px;
  font-weight: 700;
  color: #333333;
}

.AdminPage_icon_etc_layout {
  height: 220px;
  display: grid;
  align-content: space-evenly;
}

.AdminPage_icon_layout {
  display: flex;
  justify-content: space-between;
}

.AdminPage_categoryImg {
  height: 85px;
}

.AdminPage_map_all {
  width: 90%;
}

.AdminPage_map {
  height: 250px;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
  color: #666;
}

.AdminPage_pickup_code_all {
  width: 90%;
}

.AdminPage_pickup_code {
  background-color: #f4f5f6;
  color: #333333;
  height: 55px;
  width: 100%;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
