.NavbarBottom_body {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #4a423d;
  padding-top: 3px;
  padding-bottom: 10px;
  max-height: 80px;
  z-index: 9999;
}

.NavbarBottom_layout {
  display: flex;
}

.NavbarBottom_user_img {
  flex: 1; /* 각 이미지가 flex 컨테이너의 너비를 1/3씩 차지하게 함 */
  width: 100%; /* 이미지가 컨테이너 너비에 맞게 채워지도록 함 */
  height: auto; /* 이미지의 비율을 유지하면서 크기 조절 */
}
