.lost-post-list {
  padding: 20px;
  margin-bottom: 100px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.search-bar input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  margin-bottom: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination span {
  margin: 0 5px;
  cursor: pointer;
}

.no-posts-message {
  margin-top: 20px;
  text-align: center !important;
  margin-top: 40px !important;
  z-index: 400;
}
