@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.LostPostListCard_all_layout {
  display: flex;
  justify-content: center;
}

.LostPostListCard_all_size {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 10px 0px;
}

.LostPostListCard_text_layout {
  display: grid;
  align-content: stretch;
  padding-right: 50px;
  height: 90px;
}

.LostPostListCard_lostTime_layout {
  display: grid;
}

.LostPostListCard_itemType {
  font-size: 18px;
  color: #333333;
  font-weight: 700;
}

.LostPostListCard_pickupDate_pickupTime {
  font-size: 13px;
  color: #948a85;
}

.LostPostListCard_itemImg {
  width: 90px;
  height: 90px;
  border-radius: 5px;
}

.LostPostListCard_placeholder {
  font-size: 14px;
  color: #888;
  background-color: #f4f5f6;
  border-radius: 5px;
  text-align: center;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LostPostListCard_lostLocation_layout {
  display: flex;
  align-items: center;
}

.LostPostListCard_storageLocation {
  font-size: 12px;
  margin-left: 5px;
  color: #ff3535;
  font-weight: 700;
  letter-spacing: -1px;
}
