/* 오버레이 설정 */
.CheckCode_popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 배경 어두움 효과 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* 팝업 위로 배치 */
}

/* 팝업 내용 */
.CheckCode_popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* 메시지 스타일 */
.CheckCode_message {
  font-size: 18px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 20px;
}

/* 입력 필드 스타일 */
.CheckCode_input {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border: 1px solid #948a85;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  color: #948a85;
}

.CheckCode_input:focus {
  background-color: #f4f5f6; /* 포커스 시 배경색 */
  outline: none;
}

/* 확인 버튼 스타일 */
.CheckCode_confirm-button {
  background-color: #d04020;
  color: #f4f5f6;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  margin-bottom: 10px;
  height: 40px;
}

.CheckCode_popup_name {
  font-size: 20px;
  color: #333333;
  font-weight: 700;
  text-align: left;
  margin-bottom: 20px;
}
